
.dashboard-bar {
    background-color: #FFD369;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.main-content {
    padding: 20px;
    text-align: center;
    background-color: white;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}