<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'header.css' %}">
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a href="{% url 'dashboard' %}" class="button">Home</a></li>
            <li><a href="{% url 'employee_list' %}" class="button">Employee List</a></li>
            <li><a href="#" class="button">{{ username }}</a></li>
            <li><a href="{% url 'logout' %}" class="button">Logout</a></li>
        </ul>
    </div>
</body>
</html>